* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  height: 100vh;
}

#container {
  display: grid;
  grid-template-columns: auto-fit 1fr;
  background-color: #d1d5db;
  width: 80%;
  margin: 0 auto;
  height: 100vh;
}

#sidebar {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: grid;
  grid-template-rows: 60px 220px 130px;
  align-items: center;
  background-color: #0ea5e9;
  color: white;
  row-gap: 50px;
}

#sidebar .section  > div {
  display: grid;
  grid-template-columns: 40px 1fr;
  font-size: 12px;
  padding: 3px 0;
  max-height: 40px;
  align-items: center;
  justify-content: center;
}

#sidebar .section  > div:hover {
  color: #0ea5e9;
  background-color: darkorange;
}

.section > div > div:first-child {
  justify-self: center;
}

#sidebar .section  > div > div:nth-child(2) {
  font-size: 1.5vw;
  font-weight: 600;
  padding-right: 10px;
}
.section img {
  height: 2.5vh;
  width: 2.5vw;
}

#container-right {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: repeat(auto-fit, 1fr);
  height: 100vh;
}

#header {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  border: 1px solid red;
  height: fit-content;
}

.header-top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid blue;
  justify-content: space-between;
  align-items: center;
}

.header-top .top-left {
  display: grid;
  grid-template-columns: 15px 1fr;
  border: 1px solid green;
  align-items: center;
}

.header-top .top-right {
  display: grid;
  grid-template-columns: 15px 25px 1fr;
  border: 1px solid green;
  align-items: center;
  justify-self: end;
}

.header-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.header-bottom .bottom-left {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-self: center;
  border: 1px solid purple;
}

.header-bottom .bottom-right {
  display: grid;
  grid-template-columns: repeat(3, 55px);
  column-gap: 15px;
  justify-self: end;
}

#main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: rgb(231, 231, 231);
  height: 100%;
  border: 2px solid darkorange;
}

.main-1 .projects-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50%;
}

.projects-container .project-box {
  display: grid;
  grid-template-rows: 70px 20px;
  background-color: white;
  margin: 10px;
  border-left: 5px solid orange;
  padding: 20px 15px 15px 12px;
}

.project-box .icons {
  display: grid;
  grid-template-columns: repeat(3, 20px);
  justify-content: end;
  column-gap: 10px;
}

.main-2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.main-2-top .announce-cont {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}

.announce-cont .announce-box {
  background-color: rgb(255, 255, 255);
  padding: 10px;
}

.announce-box p {
  font-size: 10px;
  line-height: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(205, 205, 205);
}

.main-2-bottom .trend-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  background-color: white;
}

.trend-container .trend {
  display: grid;
  grid-template-columns: 20px 1fr;
}